*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}





/* Header*/

header{
    position: absolute;
    top: 25px;
    left: 50px;
    
    padding: 0 0 10px;
    font-family: 'Righteous';
    opacity: 1;
    z-index: 10;

}

header nav{
    border-style: solid;
    border-radius: 3px;
    border-width: 2px;
    padding: 10px 30px 10px;
    background-color: #eee;
}

header nav ul li{
    display: inline-block;
    margin: 0 15px;
    position: relative;
}


header nav ul li::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 100%;
    background:black;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

header nav ul li:hover::after{
    transform: scale(1);
}


header nav ul li a{
    color: black;
    opacity: 0.7;
}

header nav ul li a:hover{
    opacity: 1;
}

.titre-header{
    position: absolute;
    right: 25px;
    top: 30px;
    font-size: 5rem;
    font-family: 'Righteous';
    color: #eee;
}

/*Body*/

body{
    background: #37392E;
    height: 2700px;
}

.containeur-competence{
    position: absolute;
    top: 150px;
    width: 100%;
    height: 2500px;


    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.competence{
    position: relative;
    width: 100%;
    height: 34%;
    background: #EEE5E5;

}

.contenu-competence{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 75%;
    height: 80%;
    background: #19647E;

    border-radius: 10px;
    box-shadow: 0 0 5px 0 black;
}
.c2{
    width: 85%;
    border-radius: 15px;
    background: #EEE5E5;
    
}
.competence-relationnelle{
    background: #8AAA79;
}

.langue{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    height: 80%;
    background: #2387aa;


    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.contenu-langue{
    width: 100%;
    height: 34%;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.contenu-langue h1{
    font-family: 'Readex Pro';
    color: black;
}
.barre-competence{
    width: 50%;
    height: 50px;
    background: #d5dadb;

    border-radius: 3px;
}
.pourcentage1{
    background: #7f827f;
    width: 98%;
    height: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pourcentage2{
    background: #7f827f;
    width: 96%;
    height: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pourcentage3{
    background: #7f827f;
    width: 75%;
    height: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.titre-principale{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: 'Readex Pro';
    margin-top: 10px;
    color: #333;
    font-size: 3rem;
}



.grille{
    width: 90%;
    height: 80%;


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: grid;
    grid-template-columns: repeat(auto-fill,33.3%);
}

.grid-item{
    width: 100%;
    height: 100%;



    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Readex Pro';
    text-align: center;
}



.containeur-technique{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 80%;
    height: 80%;


    display: flex;
    justify-content: space-around;
}

.technique{
    width: 50%;
    height: 100%;



    display: flex;
    flex-direction: column;
}

.contenu-technique{
    width: 100%;
    height: 33.3%;



    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Readex Pro';
    justify-content: space-around;
}
.pourcentage4{
    background: #7f827f;
    width: 90%;
    height: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pourcentage5{
    background: #7f827f;
    width: 80%;
    height: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pourcentage6{
    background: #7f827f;
    width: 85%;
    height: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pourcentage7{
    background: #7f827f;
    width: 95%;
    height: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pourcentage8{
    background: #7f827f;
    width: 90%;
    height: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pourcentage9{
    background: #7f827f;
    width: 90%;
    height: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.continuer{
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid black;
    background: #fc7535;

    font-family: 'Poppins';
    color: white;
    font-size: .8rem;

    transition-duration: 500ms;
    /* transform: scale(0.8); */
}

.continuer:hover{
    /* box-shadow: 0 0 5px 0 black;
    transform: scale(1);*/
    color: black;
} 

/*responsive*/
@media (max-width: 1100px){
    /* Header*/
    header nav ul li{
        margin-top: 5px;
    }
    .titre-header{
        font-size: 3.5rem;
        top: 100px;
    }

    .containeur-competence{
        top: 200px;
    }
    body{
        height: 2750px;
    }

    .langue{
        width: 90%;
    }
    
}

@media (max-width: 800px){
    /* Header*/
    header nav ul li{
        display: block;
        text-align: center ;
    }
    header{
        left: 50%;
        transform: translate(-50%, 0);
    }
    .titre-header{
        top: 200px;
        right: 20px;
    }


    body{
        height: 2850px;
    }
    .containeur-competence{
        top: 300px;
    }
    .contenu-langue h1{
        font-size: 1.5rem;
    }

    .contenu-competence{
        width: 95%;
    }
    .titre-principale{
        font-size: 2.5rem;
    }


    .grille{
        width: 100%;
    }
    .grid-item{
        font-size: .7rem;
    }

    .containeur-technique{
        width: 100%;
        
    }
    .contenu-technique{
        font-size: .7rem;
    }
}


/* ✸ ✔    ● ◐ ◯ ○ ◕*/