*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}





/* Header*/

header{
    position: absolute;
    top: 25px;
    left: 50px;
    
    padding: 0 0 10px;
    font-family: 'Righteous';
    opacity: 1;
    z-index: 10;

}

header nav{
    border-style: solid;
    border-radius: 3px;
    border-width: 2px;
    padding: 10px 30px 10px;
    background-color: white;
}

header nav ul li{
    display: inline-block;
    margin: 0 15px;
    position: relative;
}


header nav ul li::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 100%;
    background:black;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

header nav ul li:hover::after{
    transform: scale(1);
}


header nav ul li a{
    color: black;
    opacity: 0.7;
}

header nav ul li a:hover{
    opacity: 1;
}

.titre-header{
    position: absolute;
    right: 25px;
    top: 30px;
    font-size: 5rem;
    font-family: 'Righteous';
    color: #eee;
}

/*Body*/

body{
    background: #333633;
    background-size: cover;
    background-position: center;
    height: 1500px
}

.info-personnel{
    position: absolute;
    top: 160px;
    background: #eee;
    width: 100%;
    height: 500px;
    border-top: 2px solid black;
    border-bottom: 2px solid #333;
    z-index: -3;
}

.containeur-info{
    width: 65%;
    height: 95%;
    /* background: red; */
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    padding: 10px;
    font-family: 'Readex Pro';

}

.grid-item{
    width: 95%;
    height: 90%;
    /* background: orange; */

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    position: relative;
    z-index: -2;
    text-align: center;
}

.containeur-info h2{
    position: absolute;
    top: 5px;
    width: 65%;
    text-align: center;
    font-family: 'Readex Pro';
}

.photo{
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
    width: 30%;
    background: rgb(43,120,228);
    border-left: 2px solid black;

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.profil-surlignez-2{
    background: rgb(43,120,228,0.5);
    border-radius: 5px;  

}

.profil-surlignez:before{
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 40px;

    width:  50px;
    height: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    background: rgb(43,120,228);
    z-index: -1;
    opacity: .5;
    

}


.centre-interet{
    position: absolute;
    top: 660px;
    width: 100%;
    height: 800px;
    background: #eee;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid black;
}
.containeur-centre-interet{

    width: 95%;
    height: 95%;
    background: rgb(111,168,220);
    border-radius: 20px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.contenu-centre-interet{
    width: 47%;
    height: 95%;
    background: white;
}


/*responsive*/
@media (max-width: 1100px){
    /* Header*/
    header nav ul li{
        margin-top: 5px;
    }
    .titre-header{
        font-size: 3rem;
    }
    .profil-surlignez:before{
        opacity: 0;
    }

    .profil-surlignez{
        background: rgb(43,120,228,0.5);
        border-radius: 5px;  

    }
}

@media (max-width: 800px){
    /* Header*/
    header nav ul li{
        display: block;
        text-align: center ;
    }
    .info-personnel{
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 200px;
    }
    .containeur-info{
        width: 95%;
    }
    
    .containeur-info h2{
        font-size: 1rem;
        width: 90%;
        margin: 0;
    }
    .photo{
        position: relative;
        margin: 10px;
        width: 95%;
        border: none;
        border-radius: 3px;
    }
    .centre-interet{
        top: 900px;
    }
    .containeur-centre-interet{
        flex-direction: column;
    }
    .contenu-centre-interet{
        width: 95%;
        height: 47%;
    }
    body{
        height: 1750px;
    }
    

    
}
