*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}


/* Header*/

header{
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0 10px;
    font-family: 'Righteous';
    opacity: 1;
    z-index: 10;

}

header nav{
    border-style: solid;
    border-radius: 3px;
    border-width: 2px;
    padding: 10px 30px 10px;
    background-color: white;
}

header nav ul li{
    display: inline-block;
    margin: 0 15px;
    position: relative;
}


header nav ul li::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 100%;
    background:black;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

header nav ul li:hover::after{
    transform: scale(1);
}


header nav ul li a{
    color: black;
    opacity: 0.7;
}

header nav ul li a:hover{
    opacity: 1;
}


/* Body */



.container-accueil{
    position: relative;
    

    /* background: linear-gradient(to top, #4444bf, #00d4ff); */
    background: url(Image/bg-accueil-2.jpeg);
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    
    width: 100%;
    height: 100vh;


   


    

    z-index: 0;
}

.container-bienvenue{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    font-family: 'Poppins';
    
    font-size: 4rem;
    color: #eee;

    flex: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



.container-fleche{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    
    animation: apparition 2s ease forwards;
    opacity: 0;
    animation-delay: 500ms;
    margin-bottom: 50px;

}



@keyframes apparition {
    from {
        opacity: 0;        
    }
    to{
        opacity: 1;
    } 
}


.container-suite-accueil{
    width: 100%;
    height: 100vh;

    justify-content: center;
    display: flex;
    
    background: #eee;
    position: relative;

}

.contenu-accueil{
    width: 30%;
    height: 60%;
    margin: 50px;

    background: white;
    border-radius: 5px;

    position: relative;
    top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.contenu{

    height: 50%;
    /* background: red; */
    margin: 10px;
    text-align: center;
    font-family: 'Readex Pro';
    line-height: 2em;
}
.contenu p{
    color: #333;
}
.c1-1, .c2-1{
    flex: 1;
    width: 100px;
    border: 1px solid black;
    border-radius: 200px;
    margin: 50px;

    position: relative;
    
}

.c1-1 img, .c2-1 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c1-2, .c2-2{
    flex: 3;
    width: 80%;
    padding: 20px;
    padding-top: 10%;
}

.continuer{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid black;
    background: #fc7535;

    font-family: 'Poppins';
    color: white;
    font-size: .8rem;

    transition-duration: 500ms;
    /* transform: scale(0.8); */
}

.continuer:hover{
    /* box-shadow: 0 0 5px 0 black;
    transform: scale(1);*/
    color: black;
} 





/*responsive*/
@media (max-width: 1100px){
    /* Header*/
    header nav ul li{
        margin: 0px 1px;
    }
    header{
        top: 5%;
    }

    /*Body*/
    .contenu-accueil{
        width: 50%;
        height: 60%;
        margin: 25px;

    }
    
    
}

@media (max-width: 800px){
    /* Header*/
    header nav ul li{
        display: block;
        text-align: center ;
    }
    header{
        top: 10%;
    } 

    .contenu-accueil{
        width: 50%;
        height: 60%;
        margin: 5px;
        top: 150px;
        font-size: .8rem;
    } 
    .c1-2, .c2-2{
        width: 95%;

    }
    .container-bienvenue h1{
        font-size: 3rem
    }
}

